body{
  background-color: rgb(179, 192, 211);
  border: solid 1px;
  padding: 2px;
  margin: 3px;
}
img{
  height: 25%;
  width: 25%;
}
h1{
  font-family: Helvetica, Arial;
  font-size: 6;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
}
#nav-header{
  height:10px;
}
#picMe{
  float: right;
}
